# datasets
/datasets
*.pkl
*.npy

# ide
/.idea

# pycmache
*.pyc

# tensorboard
/logs
klue_model/logs

# results
config.json
test-*.txt


# model
/ckpt
/model
/checkpoint-*
*.pt
*.bin

# Mac
.DS_Store

# KorLex
/Utils/KorLex_api